.fest-1 {
    margin: 3rem;
    padding: 1rem;
    text-align: center;
    /* background-image: linear-gradient(315deg, #ff5f6d, #ffc371); */
    background: rgba(248, 248, 248, 0.644);
    /* border-radius: 15px; */
    /* border-radius: 5px 50px 5px; */
  
    /* backdrop-filter: blur(500px); */
    backdrop-filter: blur(55rem);
    -webkit-backdrop-filter: blur(55rem);
    
    border-radius: 8px;
  }
  .fest-1 h3 {
    font-size: 2.5rem;
    font-family: "Berkshire Swash", cursive;
    text-align: center;
    padding: 0.5rem;
    margin-left: 35%;
    color: rgb(13, 0, 128);
    margin-right: 35%;
    border-left: 7px solid black;
    border-right: 7px solid black;
    opacity: 1;
  }
  .fest-1 p {
    text-align: justify;
    font-size: 1.2rem;
    word-wrap: break-word;
    font-family: "Merriweather Sans", sans-serif;
    opacity: 1;
  }
  
  .fest-1 img {
    margin: 2rem;
    max-width: 50%;
    opacity: 1;
  }
  
  .fest-2 {
    margin: 3rem;
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(15deg, #ff5f6d, #ffc371);
    border-radius: 15px;
  }
  .fest-2 h3 {
    font-size: 2.5rem;
    color: rgb(13, 0, 128);
    font-family: "Berkshire Swash", cursive;
    text-align: left;
    border-left: 7px solid black;
    padding: 0.5rem;
  }
  .fest-2 p {
    text-align: justify;
    font-size: 1.2rem;
    word-wrap: break-word;
    font-family: "Merriweather Sans", sans-serif;
  }
  